@font-face { font-family: Handlee; src: url('../fonts/Handlee-Regular.ttf'); } 

/* ##### Whole content syling ####*/

body, body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Handlee', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    background-color: #FFF2CF;
    color: #212221;
}

h1, h2, h3, h4{
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

content {
    width: 1200px;
    display: block;
    margin-left: calc(50% - 600px);
    background-color: white;

    /* temp  ending need fixing */
    padding-bottom: 50px;
    margin-bottom: 50px;
}

/* ##### header ##### */

header {
    width: 100%;
    background-color: white;
    display: inline-block;
    padding-top: 42px;
    padding-bottom: 16px;
}

h1 {
    text-align: center;

}

header > p{
    text-align: center;
}


/* ##### nav #### */

nav {
    width: 100%;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

nav > a {
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    color: #212221;
    padding: 16px 16px;
}

nav > a:hover{
    background-color: #212221;
    color: white;
}


/* ### Subheader ### */

.subheader {
    display: inline-block;
    width: 74%;
    margin: 30px 13% 54px 13%;
    text-align: center;
}

.subheader .trailing-line, .headlight {
    float: left;
    height: 40px;
}

.subheader .trailing-line{
    background-image: url('../img/trailing-line.png');
    background-repeat: repeat-x;
    width: calc(50% - 150px);
}

.subheader .headlight{
    width: 300px;
    }

.subheader  .headlight h3 {
    /* height: 42px; */
    line-height: 40px;
}

.subheader .subheader-description {
    margin-top: 24px;
    display: inline-block;
}

/* #####  hero #####*/

.hero {
    width: 100%;
    height: 475px;
    background-image: url('../img/hero.png');
    background-position: center;
    background-size: cover;
}

/* ##### article ##### */

.article {
    width: 100%;
    padding: 96px 10% 20px 10%;
    display: inline-block;
}

.article h2, h3{
    text-transform: none;
}

.article h2 {
    margin-bottom: 10px;
    font-size: 62px;
}

.article h3 {
    font-family: 'Handlee', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 34px;
}

.article p {
    text-align: justify;
    margin-bottom: 13px;
    font-size: 16px;
}

.article .img-align-right {
    float: right;
    width: 448px;
    padding-left: 28px;
    height: 549px;
    object-fit: cover;
}

.article .img-align-left {
    float: left;
    width: 448px;
    padding-right: 28px;
    height: 549px;
    object-fit: cover;
}

/* ##### white horizontal spanner ##### */

.white-horizontal-spanner {
    width: 100%;
    min-height: 80px;
    overflow: hidden;
    position: relative;

}

.white-horizontal-spanner .spanner-left{
    background-image: url('../img/white-ornament-left.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 20%;
    position: absolute;
    left: 0;
    top: 0;
}

.white-horizontal-spanner .spanner-right{
    background-image: url('../img/white-ornament-right.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 20%;
    position: absolute;
    right: 0;
    top: 0;
}

.white-horizontal-spanner .spaner-container{
    width: 60%;
    margin-left: 20%;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.white-horizontal-spanner .spaner-container .quote {
    font-size: 18px;
    font-style: italic;
}

.white-horizontal-spanner .spaner-container .author{ 
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 13px;
}


/* ##### Dark horizontal spanner ##### */

.dark-horizontal-spanner {
    background-color: #1E1F1E;
    color: white;
    width: 100%;
    min-height: 80px;
    overflow: hidden;
    position: relative;

}

.dark-horizontal-spanner .spanner-left{
    background-image: url('../img/dark-ornament-left.png');
    background-size: 30%;
    background-position: right 30px center;
    background-repeat: no-repeat;
    height: 100%;
    width: 38%;
    position: absolute;
    left: 0;
    top: 0;
}

.dark-horizontal-spanner .spanner-right{
    background-image: url('../img/dark-ornament-right.png');
    background-size: 30%;
    background-position: left 30px center;
    background-repeat: no-repeat;
    height: 100%;
    width: 38%;
    position: absolute;
    right: 0;
    top: 0;
}

.dark-horizontal-spanner .spaner-container{
    width: 24%;
    margin-left: 20%;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.dark-horizontal-spanner .spaner-container p {
    font-size: 24px;
    font-style: italic;
}

